@charset "ISO-8859-1";


li{
	color: black;
	font-size: 19px;
}

.centrar{
	 align-items: center;
	display: flex;
    justify-content: center;
    margin-top: 30px;
}
h1{
	font-size: 100px;
	font-style: italic;
	color: #408080;
	text-shadow: 
    3px 3px 1px black,
    5px 5px 2px black,
    8px 8px 3px black;
    align-items: center;
	display: flex;
    justify-content: center;
}
body{
	background-image: url("../images/imagen.jpg");
	background-size: 1500px 800px;
	background-repeat: no-repeat;
}
h2{
	font-size: 50px;
	color: black;
	text-shadow: 
    3px 3px 1px black,
    5px 5px 2px white,
    8px 8px 3px black;
    align-items: center;
	display: flex;
    justify-content: center;
}
footer{
	font-size:17px;
	align-items: center;
	display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 30px;
}
