<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="ISO-8859-1">
<title>Registro de Candidatos</title>
</head>
<body>
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
<div class="col-md-5 ">
 <h2>Editar Artista</h2>
 <form th:action="@{/candidato/modificar}" th:object="${candidato}" method="POST"> 
 <div class="mb-3">
		   <input type="hidden" th:field="*{codigo}"/>
		   <label for=codigoId>Codigo</label>
		   <input th:value="${codigo}" type="number" class="form-control" id="codigoId" disabled="disabled">
 </div>
  <div class="row mb-3">
    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre: </label>
    <div class="col-sm-10">
      <input type="text" th:field="*{nombre}" class="form-control" id="inputNombre">
      <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
  </div>
 <div class="row mb-3">
    <label for="inputGenero" class="col-sm-2 col-form-label">Genero: </label>
    <div class="col-sm-10">
      <input type="text" th:field="*{genero_music}" class="form-control" id="inputGenero">
      <div class="text-danger" th:if="${#fields.hasErrors('genero_music')}" th:errors="*{genero_music}"></div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripcion: </label>
    <div class="col-sm-10">
      <input type="text" th:field="*{descripcion}" class="form-control" id="inputDescripcion">
      <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
    </div>
  </div>
   <button type="submit" class="btn btn-primary">Enviar</button>
   <a th:href="@{/inicio/menu}" class="btn btn-primary" role="button" data-bs-toggle="button">Cancelar</a>
 </form> 
</div>
</div>
</div>
</body>
</html>