<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
		<title>INICIO</title>
  </head>
  <body>
    <header th:replace="/layouts/header::header"></header> 
    <h1>BIENVENIDO A LA VOTACION DE ARTISTAS</h1>		
          <img height= "400 px" th:src= @{/images/img2.jpg} alt="imagen de inicio" title="Titulo">
     
 </body>
 </html>
