<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
		<title>INICIO</title>
  </head>
  <body>
         <h1 > ARTISTAS DESTACADOS </h1>
    <div class="centrar">      	    
        <img height= "400 px" th:src= @{/images/inicio.png} alt="imagen de inicio" title="Titulo">
    </div>
     <div class="centrar">
  	   <div class="btn-group btn-group-lg" role="group" aria-label="Toolbar with button groups">
  	   <button type="button" class="btn btn-outline-secondary">1safdf</button>
    <button type="button" class="btn btn-outline-secondary">2dadDa</button>
    <button type="button" class="btn btn-outline-secondary">3dadDa</button>
    <button type="button" class="btn btn-outline-secondary">1safdf</button>
    <button type="button" class="btn btn-outline-secondary">3dadDa</button>
  	   </div>
  	   </div>
 </body>
 </html>
