<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="ISO-8859-1">
<title>Artistas</title>
</head>
<body>
<header th:replace="/layouts/header::header"></header>
<div class="container">
<div class="row justify-content-center">
<div class="col-md-10 ">
<h2> Artistas Destacados</h2>
<table class="table table-dark table-striped">
 <tr>
 <th>Codigo</th>
 <th> Nombre</th>
 <th> Votos </th> 
 <th> Porcentaje </th>
 <th> Opciones </th>
 </tr>
 <tr th:each="c:${candidato}">
 <td th:text="${c.codigo}"></td>
 <td th:text="${c.nombre}"></td>
 <td th:text="${c.cant_votos}"></td>
 <td></td>
 <td> 
  <a th:href="@{/candidato/editar/}+${c.codigo}" id="editarDocente" type="button" class="btn btn-warning">Editar</a>
  <a th:href="@{/candidato/eliminar/}+${c.codigo}" type="button" class="btn btn-danger">Eliminar</a>
 </td>
 </tr>
</table>
<div>
<table class="table table-dark table-striped">
<td>
<th> Total: <a th:text="${cantidad}"> </a> </th>
</td>

</table>
</div>
</div>
</div>
</div> 
</body>
</html>